html
    head
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        style
            include ../common/common.css
            include ../common/bootstrap.min.css
        script
            include ../common/vendor.jquery.js
            include ../common/vendor.barcode.js
            include ../common/common.js

body
    div
        div.col-se-12
            each x, idx in documents
                div.certificate
                    div.form-group
                        span.control-label.col-se-6.title= x.client
                        div.col-se-4.barcode-row.center
                            div(class="barcode" code= x.code)
                            span.control-label.col-se-4= x.code
                    div.form-group.center
                        b CARGO DEL ÁREA
                    div.form-group
                        span.control-label.col-se-4 ENVIADO POR:
                        div.col-se-7= x.sender
                    div.form-group
                        span.control-label.col-se-4 OFICINA - SECCIÓN:
                        div.col-se-7= x.location_name
                    div.form-group
                        span.control-label.col-se-4 FECHA DE EMISIÓN / REGISTRO:
                        div.col-se-7= x.date
                    div.break-line

                    div.form-group
                        span.control-label.col-se-4 EMPRESA / CONTACTO:
                        div.col-se-7= x.destination
                    div.form-group
                        span.control-label.col-se-4 DIRECCIÓN:
                        div.col-se-7= x.address
                    div.form-group
                        span.control-label.col-se-4 DISTRITO:
                        div.col-se-7= x.district
                    div.form-group
                        span.control-label.col-se-4 NÚMERO DE DOCUMENTO:
                        div.col-se-7
                            pre !{x.document}
                    div.form-group
                        span.control-label.col-se-4 DETALLE DE ENVÍO:
                        div.col-se-7
                            pre !{x.reference}
                    if !!x.binnacle.length
                        div.dotted-line
                            div.form-group.center
                                b BITACORA
                            each binnacle, idx in x.binnacle
                                div.col-se-10.certificate-box
                                    if binnacle.action_id == 1
                                        div.form-group
                                            span.control-label.col-se-4 Asignado a:
                                            div.col-se-7= binnacle.user_name
                                        div.form-group
                                            span.control-label.col-se-4 Fecha de asignación:
                                            div.col-se-7= binnacle.manifest_date
                                    else if binnacle.action_id == 2
                                        div.form-group
                                            span.control-label.col-se-4 Nombre de Recepcionado c/cargo:
                                            div.col-se-7= binnacle.f_description
                                        div.form-group
                                            span.control-label.col-se-4 Fecha de Recepción c/cargo:
                                            div.col-se-7= binnacle.discharged_at
                                        div.form-group
                                        span.control-label.col-se-4 Observación:
                                        div.col-se-7= binnacle.s_description
                                    else
                                        div.form-group
                                            span.control-label.col-se-4 Nombre de Recepcionado Usuario:
                                            div.col-se-7= binnacle.user_name
                                        div.form-group
                                            span.control-label.col-se-4 Fecha de Recepción Usuario:
                                            div.col-se-7= binnacle.manifest_date
